In [2]:
import pandas as pd
df=pd.read_csv('/Users/HP/Desktop/Assignment/assignment_4/titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
X=df[['Pclass','SibSp','Parch','Fare']]
y=df['Survived']

In [6]:
y.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [7]:
X.head()

   Pclass  SibSp  Parch     Fare
0       3      1      0   7.2500
1       1      1      0  71.2833
2       3      0      0   7.9250
3       1      1      0  53.1000
4       3      0      0   8.0500

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [9]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7174887892376681

In [10]:
from sklearn.model_selection import cross_val_score, KFold
model=LogisticRegression()
kf=KFold(n_splits=5)
score=cross_val_score(model,X,y,cv=kf)
print("cross validation scores are {}".format(score))

cross validation scores are [0.62569832 0.66853933 0.66853933 0.69662921 0.75280899]

In [11]:
print("Average cross validation score :{}".format(score.mean()))

Average cross validation score :0.6824430355909861

In [12]:
#Tunning
algorithms = ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']
for algo in algorithms:
    score = cross_val_score(LogisticRegression(max_iter= 4000, solver= algo), X, y, cv= kf, scoring="accuracy")
    print(f'Average score({algo}): {"{:.3f}".format(score.mean())}')

Average score(newton-cg): 0.682
Average score(lbfgs): 0.682
Average score(liblinear): 0.682
Average score(sag): 0.669
Average score(saga): 0.669

In [13]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
KN = KNeighborsClassifier()
KN.fit(X_train, y_train)
y_pred = KN.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6860986547085202

In [14]:
for i in range(1,21):
  KN = KNeighborsClassifier(n_neighbors=i)
  KN.fit(X_train,y_train)
  Y_pred = KN.predict(X_test)
  acc = accuracy_score(y_test, Y_pred)
  print('for n_neighbors%2d accuracy is %f'%(i,acc))

for n_neighbors 1 accuracy is 0.645740
for n_neighbors 2 accuracy is 0.654709
for n_neighbors 3 accuracy is 0.627803
for n_neighbors 4 accuracy is 0.695067
for n_neighbors 5 accuracy is 0.686099
for n_neighbors 6 accuracy is 0.717489
for n_neighbors 7 accuracy is 0.686099
for n_neighbors 8 accuracy is 0.708520
for n_neighbors 9 accuracy is 0.699552
for n_neighbors10 accuracy is 0.699552
for n_neighbors11 accuracy is 0.699552
for n_neighbors12 accuracy is 0.713004
for n_neighbors13 accuracy is 0.699552
for n_neighbors14 accuracy is 0.704036
for n_neighbors15 accuracy is 0.717489
for n_neighbors16 accuracy is 0.735426
for n_neighbors17 accuracy is 0.739910
for n_neighbors18 accuracy is 0.721973
for n_neighbors19 accuracy is 0.735426
for n_neighbors20 accuracy is 0.730942

In [15]:
from sklearn.model_selection import cross_val_score, KFold
model=KNeighborsClassifier()
kf=KFold(n_splits=5)
score=cross_val_score(model,X,y,cv=kf)
print("cross validation scores are {}".format(score))

cross validation scores are [0.62569832 0.59550562 0.70224719 0.67977528 0.68539326]

In [16]:
print("Average cross validation score :{}".format(score.mean()))

Average cross validation score :0.6577239344673906

In [20]:
#Tunning
algorithms = ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']
for algo in algorithms:
    score = cross_val_score(KNeighborsClassifier(), X, y, cv= kf, scoring="accuracy")
    print(f'Average score({algo}): {"{:.3f}".format(score.mean())}')

Average score(newton-cg): 0.658
Average score(lbfgs): 0.658
Average score(liblinear): 0.658
Average score(sag): 0.658
Average score(saga): 0.658

In [21]:
#svm
from sklearn.svm import SVC
Model1 = SVC(kernel='linear', C=1, gamma='auto')
Model1.fit(X_train,y_train)
y_pred = Model1.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7174887892376681

In [22]:
from sklearn.model_selection import cross_val_score, KFold
model=SVC()
kf=KFold(n_splits=5)
score=cross_val_score(model,X,y,cv=kf)
print("cross validation scores are {}".format(score))
print("Average cross validation score :{}".format(score.mean()))

cross validation scores are [0.62011173 0.66853933 0.66853933 0.66292135 0.70786517]
Average cross validation score :0.6655953800765803

In [23]:
#Decision tree Classifier
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6636771300448431

In [26]:
from sklearn.model_selection import cross_val_score, KFold
model=SVC()
kf=KFold(n_splits=5)
score=cross_val_score(model,X,y,cv=kf)
print("cross validation scores are {}".format(score))
print("Average cross validation score :{}".format(score.mean()))

cross validation scores are [0.62011173 0.66853933 0.66853933 0.66292135 0.70786517]
Average cross validation score :0.6655953800765803

In [27]:
#Random forest Classifier
from sklearn import ensemble
model = ensemble.RandomForestClassifier()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6816143497757847

In [28]:
from sklearn.model_selection import cross_val_score, KFold
model = ensemble.RandomForestClassifier()
kf=KFold(n_splits=5)
score=cross_val_score(model,X,y,cv=kf)
print("cross validation scores are {}".format(score))
print("Average cross validation score :{}".format(score.mean()))

cross validation scores are [0.65921788 0.63483146 0.70224719 0.75842697 0.73595506]
Average cross validation score :0.6981357102504551

In [29]:
#Grid Search

parameters ={'C': [0.1, 1, 10, 100, 1000],
'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
'kernel': ['rbf']}

from sklearn.model_selection import ParameterGrid
param_size = ParameterGrid(parameters)
len(param_size)

25

In [31]:
from sklearn.model_selection import GridSearchCV

grid_search = GridSearchCV(
    SVC(), 
    parameters, 
    cv=5,
    scoring='accuracy',n_jobs=-1)

grid_result= grid_search.fit(X_train, y_train)
print('Best Params: ', grid_result.best_params_)
print('Best Score: ', grid_result.best_score_)

Best Params:  {'C': 100, 'gamma': 0.01, 'kernel': 'rbf'}
Best Score:  0.6990349006845473